accelerate==1.8.1
aiohttp==3.11.16
beautifulsoup4==4.13.4
bitsandbytes==0.46.1
datasets==3.6.0
docling==2.39.0
docling-core==2.40.0
docling-ibm-models==3.6.0
docling-parse==4.1.0
fpdf==1.7.2
gguf==0.17.1
gradio==5.35.0
gradio_client==1.10.4
huggingface-hub==0.34.3
lxml==5.4.0
matplotlib==3.10.3
matplotlib-inline==0.1.7
numpy==2.2.4
openai==1.82.0
opencv-python-headless==4.11.0.86
openpyxl==3.1.5
pandas==2.3.0
peft==0.16.0
pillow==11.2.1
protobuf==6.31.1
psutil==7.0.0
pypdfium2==4.30.1
python-docx==1.2.0
python-dotenv==1.1.1
python-pptx==1.0.2
pyyaml==6.0.2
requests==2.32.3
safetensors==0.5.3
scipy==1.15.2
seaborn==0.13.2
sentencepiece==0.2.0
tokenizers==0.21.1
torch==2.7.1
torchaudio==2.7.1
torchsde==0.2.6
torchvision==0.22.1
tqdm==4.66.4
transformers==4.55.0
trl==0.19.1
