aiohttp
beautifulsoup4
docling
docling-core
fpdf
gradio
gradio_client
lxml
numpy
openai
opencv-python-headless
openpyxl
pandas
pillow
protobuf
psutil
pypdfium2
python-docx
python-dotenv
python-pptx
pyyaml
requests
tqdm
